<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">

</head>


<body bgcolor="green">

<div>
<br>
<img src="/mm.png">

<p style="color:red"><b>Let's play Tic Tac Toe!
<br><%=message%></b></p>
<br>
 
 <form action="/tictactoe" method="POST">
				<br><%=message%></b></p>
				<input type="radio" name="gametype" value="1">  1 Player Game
				<br>
				<input class="2p" type="radio" name="gametype" value="2">  2 Player Game<br>
				<input type="radio" name="player1" value="Human" checked>Human
				<br>
				<input type="radio" name="player1" value="Computer">Computer
				
				
				<br><br>
				<input type="submit" name="submit" value="Submit">
				</form>
				
				<b><p><a href="Console.exe" download="Console.exe">***** Download & Play In Dos ***** </a></p></b>
